.w5,.w15,.w25,.w35,.w45,.w55,.w65,.w75,.w85,.w95,
.w10,.w20,.w30,.w40,.w50,.w60,.w70,.w80,.w90,.w100{
	display: block;
	float: left;
	box-sizing: border-box;
}
.w5{width: 5%;}
.w10{width: 10%;}
.w15{width: 15%;}
.w20{width: 20%;}
.w25{width: 25%;}
.w30{width: 30%;}
.w35{width: 35%;}
.w40{width: 40%;}
.w45{width: 45%;}
.w50{width: 50%;}
.w55{width: 55%;}
.w60{width: 60%;}
.w65{width: 65%;}
.w70{width: 70%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w95{width: 95%;}
.w100{width: 100%;}

body{
	max-width: 640px;
	margin: 0 auto;
}
input,select{
	appearance: none;
	-webkit-appearance: none;
}

.buttons-tab .button{
	border-bottom: 1px solid transparent;
}

header.bar-nav {
	background-color: #fff;
	height: 2.6rem;
}
.bar-header-secondary{
	top: 2.6rem;
}

a {
	color: inherit;
}

header.bar-nav>.button-link,
header.bar-nav>.icon-search {
	color: #fff;
}

header.bar-nav .title {
	width: 6rem;
	height: 100%;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: auto 70%;
	background-position: center center;
}

.bar .searchbar {
	background: rgb(0, 128, 64);
	display: none;
	animation: fadeIn 0.5s forwards;
	-webkit-animation: fadeIn 0.5s forwards;
	position: relative;
	z-index: 15;
}

.bar .searchbar.searchbar-active {
	/*display: block;*/
}

.bar .searchbar .searchbar-cancel {
	color: #fff;
}

.page,
.page-group {
	background: #fff;
}
.fh-bar{
	background: #1159ab;
}
.fh-bar .icon{
	width: 1.2rem;
	padding: 0;
	background-size: 100%;
}
.icon-home{
	background-image: url(../img/icon_home.png);
}
.icon-me{
	background-image: url(../img/icon_person.png);
}
.icon-phone{
	background-image: url(../img/icon_phone.png);
}
.icon-card{
	background-image: url(../img/icon_card.png);
}
.fh-bar .icon:before{
	content: '';
}
.bar-tab .tab-item{
	color: #fff;
}
.bar-tab .tab-item.active,
.bar-tab .tab-item:active {
	color: #fff;
	background: #0a407e;
}

.bar:after {
	background-color: transparent;
}

.swiper-container {
	padding-bottom: 0;
}

.swiper-slide {
	height: 10rem;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.swiper-container-horizontal>.swiper-pagination {
	/*bottom: 0;*/
}

.swiper-pagination-bullet {
	background: #ffffff;
	opacity: 1;
	box-shadow: 1px 1px 2px rgba(126, 126, 126, 0.7);
}

.swiper-pagination-bullet-active {
	background: #f1aa46;
}

.scroll-news {
	background-color: #f7f6f4;
    padding-left: 1.7rem;
    height: 1.4rem;
    background-image: url(../img/icon_news.png);
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: 0.5rem center;
    font-size: 0.6rem;
}
.scroll-news span{
	color: #1159ab;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.scroll-news a {
	animation: fadeIn 1s forwards;
	-webkit-animation: fadeIn 1s forwards;
	display: none;
	color: #2e2e2e;
	line-height: 1.4rem;
}

.scroll-news a:after {
	content: '>';
	float: right;
	transform: scaleY(1.8);
	-webkit-transform: scaleY(1.8);
	padding-right: 1rem;
}

.scroll-news a:first-child {
	display: block;
}

.full-card {
	box-shadow: none;
	margin: 1rem 0.5rem;
	background: #fff;
}

.full-card .col-20 a {
	display: block;
}

.full-card .col-20 img {
	width: 2.5rem;
	display: block;
	margin: 0rem auto;
	padding: 0.5rem 0;
}

.full-card .col-20 span {
	font-size: 0.6rem;
	text-align: center;
	display: block;
	color: #2e2e2e;
	padding-bottom: 0.3rem;
}

.full-card .list-block .item-content {
	padding-left: 0;
	height: 6rem;
}

.full-card .list-block.media-list .item-media {
	padding: 0;
	width: 9rem;
	overflow: hidden;
	height: 100%;
}

.full-card .list-block.media-list .item-media img {
	height: 100%;
}

.full-card .list-block.media-list .item-inner {
	padding: 0.3rem 0.5rem;
	padding-left: 0;
}

.full-card .list-block .item-media+.item-inner {
	margin-left: 0.5rem;
}

.full-card .list-block.media-list .item-title {
	font-size: 0.7rem;
}

.full-card .list-block .item-subtitle {
	font-size: .6rem;
	position: relative;
	overflow: initial;
	white-space: normal;
	max-width: 100%;
	text-overflow: ellipsis;
}

.bar-header-secondary {
	height: 1.8rem;
	padding: 0;
}

.bar-header-secondary .buttons-tab {
	height: 100%;
}

.bar-header-secondary .buttons-tab .button {
	height: 1.8rem;
	font-size: 0.6rem;
	top: 0;
	line-height: 1.8rem;
	padding: 0 0.4rem;
}

.bar .pull-left {
	font-size: 0.6rem;
}

.icon-left {
	font-size: 0.8rem;
}

.bar-header-secondary .buttons-tab .button.active {
	color: #1159ab;
	border-color: #1159ab;
	overflow: hidden;
	position: relative;
	    padding: 0;
    min-width: 3rem;
}
.bar-header-secondary .buttons-tab .button.active:after{
	    content: '';
    width: 8px;
    height: 8px;
    background: #1159ab;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    left: 50%;
    bottom: -4px;
    margin-left: -4px;
}

.buttons-tab .button{
	color: #333333;
}
.bar-header-secondary~.content {
	top: 4.4rem;
}

.title-label {
    line-height: 1.6rem;
    color: #333;
    font-size: 0.6rem;
    text-align: left;
    padding-left: 0.4rem;
    background-image: url(../img/icon_arr_r.png);
    background-repeat: no-repeat;
    background-size: auto 0.7rem;
    background-position: 0.5rem center;
    background-color: #f7f6f4;
    margin: 0.5rem 0 0;
    font-weight: 400;
    height: 1.6rem;
    border-left: 4px solid #076bd9;
    overflow: hidden;
}
.title-label span{
	color: #076bd9;
}

.content-padded h3{
	font-size: 0.6rem;
	color: #076bd9;
}
.content-padded table{
	font-size: .6rem;
	line-height: 1rem;
}
.content-padded td{
	padding: 2px;
}
.content-padded table strong{
    line-height: 1.6rem;
    font-weight: normal;
}

p.arr-r{
	background-image: url(../img/arr_r.png);
	background-repeat: no-repeat;
	padding-left: 0.4rem;
	background-size: 0.2rem;
	background-position: 0 0.25rem;
	font-size: .5rem;
}

.content-padded .m-table table{
	width: 100%;
	font-size: 0.45rem;
	color: #333;
}
.m-table td{
	text-align: center;	
	min-width: 1.2rem;
}
.m-table a{
	color: #076bd9;
}
.m-table th{
	background: #edf6ff;
}

.pagination{
    margin-top: 0.5rem;
    overflow: hidden;
    text-align: center;
    padding: 0;
    font-size: 0.6rem;
}

.pagination li{
	    display: block;
    float: left;
    margin-right: 0.2rem;
    line-height: 2rem;
    box-sizing: content-box;
    border: 1px solid #c9c9c9;
}
.pagination a{
	display: block;
    padding: 0 0.5rem;
}
.pagination .active,
.pagination li:hover{
	background: #114EA3;
	border-color: #114EA3;
	color: #fff;
}
.pagination .active a,
.pagination li:hover a{
	color: #fff;
}
.pagination .prev,
.pagination .next{
	background-color: #dcdcdc;
}

p {
	margin: 0;
	font-size: .7rem;
	text-indent: 2em;
}

.fh-search{
	position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    border: 1px solid #1159ab;
    width: 9rem;
    height: 1.4rem;
    overflow: hidden;
}
.fh-search input{
	border: none;
	background: transparent;
}
.fh-search input[type="text"]{
    width: 7.5rem;
    position: absolute;
    left: 0;
    height: 100%;
    padding: 0 0 0 0.4rem;
    top: 0;
    font-size: 0.6rem;
}
.fh-search .btn-submit{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #1159ab;
    background-image: url(../img/icon_search.png);
    width: 1.6rem;
    height: 100%;
    background-size: 55%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0;
    text-indent: -9999px;
    overflow: hidden;
}
.content-padded {
	margin: 0.5rem 1rem;
	color: #333;
}

.content>img {
	display: block;
	width: 100%;
}

.card-list {
	margin: 0;
	padding: 0;
    overflow: hidden;
    padding-bottom: 1rem;
}
.card-list a{
	display: block;
    position: relative;
    overflow: hidden;
}
.card-list a:after{
	content: '';
	position: absolute;
	left: 1rem;
	right: 1rem;
	height: 1px;
	bottom: 0;
	background: #c9c9c9;
	transform: scaleY(.5);
	-webkit-transform: scaleY(.5);
}

.card-list .full-card,
.card-list .item-media {
	padding: 0;
}

.card-list .full-card {
	height: 4rem;
	overflow: hidden;
	margin: 0.8rem 1rem 0.4rem;
}

.card-list .item-media,
.card-list .item-media img {
	height: 100%;
}

.card-list .item-media {
	width: 5.5rem;
	overflow: hidden;
}

.card-list .item-inner {
	display: block;
	height: 4rem;
	padding-right: 0;
}

.card-list .item-subtitle a {
	position: relative;
	font-size: .6rem;
	padding-left: 0.5rem;
	padding-top: 0.1rem;
	line-height: 1rem;
	display: block;
	float: left;
	min-width: 4.3rem;
}

.card-list .item-subtitle a:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0.4rem;
	width: 0.2rem;
	height: 0.2rem;
	box-sizing: content-box;
	border: 1px solid #008040;
	border-radius: 50%;
}

.card-list .item-media+.item-inner {
	margin-left: 0.3rem;
	padding: 0.3rem 0;
}

br {
	clear: both;
}

.card-list .item-title {
	padding-left: 0.3rem;
    font-weight: bold;
    font-size: 0.8rem;
}

.card-list .item-subtitle {
	overflow: visible;
	white-space: normal;
}

.card-list .item-subtitle p {
	padding: 0.2rem 0.3rem;
	font-size: 0.6rem;
	text-indent: 0;
}

.content-padded .title-label {
	color: #2e2e2e;
	background-color: transparent;
	/*margin: 0 0.5rem;*/
	border-bottom: 1px solid #bfbfbf;
	padding-left: 1rem;
	background-position: 0.1rem center;
	margin-bottom: 0.4rem;
}

.iden0 p {
	text-indent: 0;
}

.row.no-gutter .col-30 {
	width: 30%;
	margin: 0;
}

.form-content {
	margin: 0.5rem;
	background: #fff;
	padding: 0.3rem;
	font-size: 0.6rem;
}

.form-content .form-title {
	background-image: url(../img/form_line.png);
	background-size: 100%;
	margin: 0;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	color: #009944;
	font-size: .7rem;
	line-height: 1.4rem;
}
.form-content .row{
	height: 1.6rem;
	    line-height: 1.6rem;
}
.form-content span{
	text-align: right;
}
.form-content input{
	display: block;
    font-size: 0.6rem;
    border-radius: 3px;
    border: 1px solid #bababa;
    box-sizing: border-box;
}
.form-content .row .col-30,
.form-content .row .col-80{
    margin: 0.3rem 0;
}

.focus a{
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.content-padded{
	word-wrap: break-word;
}
.content-padded>img{
	width: 100%!important;
}
.content-padded p{
	text-indent: 0em!important;
	font-size: .5rem;
}

/* 2017-05-1 freeman Add */
.bar .searchbar{
	top : 0;
	left: 0;
}
header.bar-nav{
	z-index: 20;
}

.search-box {
    width: 100%;
    height: 4.5rem;
    box-shadow: 1px 1px 3px #0b61c4;
    margin: 1rem 0;
    
}
.search-box img{
    width: auto;
    height: 2.4rem;
    display: block;
    margin: 1rem auto;
}

.search-box h4 {
    font-size: .6rem;
    margin: .4rem .2rem 0;
    
}

.search-box p {
        font-size: .5rem;
    line-height: 1rem;
    height: 1rem;
    overflow: hidden;
    color: #666;
}


.search-box .search{
	width: 100%;
    height: 1.4rem;
    position: relative;
    margin-top: .2rem;
}
.search-box .fh-search{
    width: auto;
    left: 0;
    right: 0;
    top: 0;
    border-color: #a6a6a6;
}

.search-box .fh-search input[type="text"]{
    width: 10rem;
}

.search-box + .l-blue{
	background: #1159ab;
	padding: 0 1rem;
	line-height: 2rem;
	border-radius: 0px;
}

.l-blue{
    display: inline-block;
    padding: 0 .3rem;
    font-size: .7rem;
    border-radius: 4px;
        line-height: 1.6rem;
    background: #076bd9;
    color: #fff;
    text-align: center;
}

.letter-index{
	overflow: hidden;
}
.letter-index a{
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    float: left;
    margin-top: 0.8rem;
    margin-right: 0.8rem;
    text-align: center;
    line-height: 1.2rem;
    background: #b5b5b5;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.6rem;
}


.letter-index .active,
.letter-index a:hover{
	background-color: #1159ab;
}
.m-screen{
	margin: 0.7rem 0;
	overflow: hidden;
}
.m-screen select{
        background-color: #eeeeee;
    background-image: url(../img/arr_b.png);
    background-repeat: no-repeat;
    background-size: 0.3rem;
    background-position: 3.7rem center;
    margin-right: 5%;
    width: 30%;
    border: 0;
    text-align: center;
    padding: 0 .5rem 0 .7rem;
    font-size: 0.6rem;
    line-height: 1.6rem;
    height: 1.6rem;
    border-radius: 10px;
    display: block;
    float: left;
}
.m-screen select:nth-child(3n){
	margin-right: 0;
}

.detail .l-blue{
	line-height: 1.2rem;
	margin: 0.5rem 8rem 0.5rem 0;
}

.detail-index{
	overflow: hidden;
	padding: 0;
	font-size: .5rem;
	text-align: center;
	color: #333333;
	margin: 1rem 0 0;
}

.detail-index li{
	width: 20%;
	height: 3rem;
	display: block;
	float: left;
}

.detail-index li a{
	display: block;
	width: 100%;
	height: 100%;
}

.detail-index img{
	display: block;
	width: 2rem;
	margin: 0 auto;
}


/*.t-label + table{
	border-top-color: #436ab1;
	border-left-color: #436ab1;
	border-bottom-color: #436ab1;
	border-right-color: #436ab1;
}
.t-label + table tr{
    border-top-color: transparent;
}
.t-label + table th{
    border-top-color: transparent;
    border-left-color: transparent;
}

.t-label + table td{
    border-color: grey;
    border-left-color: transparent;
}*/

.m-table table tr:nth-child(2n+1){
	background: #f3f8fd;
}

.t-label{
    font-size: .5rem;
    color: #076bd9;
    background: #f3f8fd;
    margin: 0 70% 0 0;
    text-align: center;
    height: 1.4rem;
    line-height: 1.4rem;
    border: solid 1px;
    border-bottom-color: gray;
    position: relative;
    top: 1px;
    border-radius: 5px 5px 0 0;
}
.t-label:after{
	content: '';
	position: absolute;
	width: 238%;
	height: 1px;
	bottom: -1px;
	left: 100%;
	background: #076BD9;
}

table + .t-label{
	margin-top: 1.5rem;
}

#btn-sub{
    background: #1159ab;
}

.button-big,
.button.button-fill.button-big{
	line-height: 2rem;
    height: 2rem;
}

.btn-block{
	margin: 1rem 3rem;
}
.btn-block .button{
	margin-bottom: 0.8rem;
}
.button-none{
	border: none;
}
.list-block .item-content{
	padding-left: 0;
	position: relative;
	
}
.btn-getVcode{
	position: absolute;
    right: 0;
    top: 0;
    font-size: .6rem;
    background: #1159ab;
    color: #fff;
    height: 100%;
    line-height: 2.2rem;
    padding: 0 .5rem;
    border: none;
}
.btn-getVcode.getting{
	pointer-events: none;
	background: gray;
}
.list-block{
    margin: 1rem 0;
}
.m-table{
	width: 100%;
	overflow-x: scroll;
}
